import "reflect-metadata"
import { DataSource } from "typeorm"
import { Recipe } from "./entity/Recipe"
import { Collection } from "./entity/Collection"
import { Ingredient } from "./entity/Ingredient"
import { Tag } from "./entity/Tag"
import { Keyword } from "./entity/Keyword"
import { ImagePath } from "./entity/ImagePath"

export const AppDataSource = new DataSource({
    type: "mysql",
    host: "localhost",
    port: 3306,
    username: "root",
    password: "supersecurepassword",
    database: "recipe_book",
    synchronize: true,
    logging: false,
    entities: [Recipe, Collection, Ingredient, Tag, Keyword, ImagePath],
    migrations: [],
    subscribers: [],
})